@font-face {
    font-family:'SF Pro Regular';
    font-style:normal;
    src: url("../assets/SFpro/SF-Pro-Text-Regular.otf");
}
  
@font-face {
    font-family:'SF Pro Bold';
    font-style:normal;
    src: url("../assets/SFpro/SF-Pro-Display-Bold.otf");
}

@font-face {
    font-family:'SF Pro Heavy';
    font-style:normal;
    src: url("../assets/SFpro/SF-Pro-Text-Heavy.otf");
}

@font-face {
    font-family:'SF Pro Medium';
    font-style:normal;
    src: url("../assets/SFpro/SF-Pro-Text-Medium.otf");
}


@font-face {
    font-family:'SF Pro Semibold';
    font-style:normal;
    src: url("../assets/SFpro/SF-Pro-Display-Semibold.otf");
}

@font-face {
    font-family:'SF Pro Light';
    font-style:normal;
    src: url("../assets/SFpro/SF-Pro-Display-Light.otf");
}